In [4]:
#INSIDE THIS CONTENTS ARE
#1. PYSPARK DATAFRAME
#2.READING DATATSETS
#3.  CHECKING DATATYPES OF THE COLUMN(SCHEMA)
#4.SELECTING COLUMNS AND INDEXING
#5.CHECK DESCRIBE OPTION SIMILIAR TO PANDAS
#6.ADDING COLUMNS
#7.DROPPING COLUMNS

In [56]:
import pyspark

In [57]:
from pyspark.sql import SparkSession

In [58]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [59]:
spark

In [60]:
##read dataset
spark.read.option('header','true').csv('test1.csv')

DataFrame[Name: string, Age: string, experience: string]

In [61]:
spark.read.option('header','true').csv('test1.csv').show()

+-------+---+----------+
|   Name|Age|experience|
+-------+---+----------+
|   Abhi| 21|       ias|
|   akhi| 25|   manager|
|ashitaa| 21|  designer|
+-------+---+----------+

In [62]:
df_pyspark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)
#if we don't use inferSchema then all the elements will be consider as string as default

In [63]:
##check schema schema means datat types like pandas is df.info similarly
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- experience: string (nullable = true)

In [64]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------+---+----------+
|   Name|Age|experience|
+-------+---+----------+
|   Abhi| 21|       ias|
|   akhi| 25|   manager|
|ashitaa| 21|  designer|
+-------+---+----------+

In [65]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- experience: string (nullable = true)

In [66]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [67]:
## DATA FRAMES ARE DATA STRUCTURES BECAUSE INSIDE THIS YOU CAN PERFORM VARIOUS KINDS OF OPERATIONS.

In [68]:
df_pyspark.head()

Row(Name='Abhi', Age=21, experience='ias')

In [69]:
df_pyspark.columns

['Name', 'Age', 'experience']

In [70]:
df_pyspark.head(3)
#list form

[Row(Name='Abhi', Age=21, experience='ias'),
 Row(Name='akhi', Age=25, experience='manager'),
 Row(Name='ashitaa', Age=21, experience='designer')]

In [71]:
df_pyspark.select('Name').show()

+-------+
|   Name|
+-------+
|   Abhi|
|   akhi|
|ashitaa|
+-------+

In [72]:
df_pyspark.select(['Name','experience']).show()

+-------+----------+
|   Name|experience|
+-------+----------+
|   Abhi|       ias|
|   akhi|   manager|
|ashitaa|  designer|
+-------+----------+

In [73]:
df_pyspark['Name']

Column<'Name'>

In [74]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('experience', 'string')]

In [75]:
df_pyspark.describe().show()

+-------+-------+------------------+----------+
|summary|   Name|               Age|experience|
+-------+-------+------------------+----------+
|  count|      3|                 3|         3|
|   mean|   NULL|22.333333333333332|      NULL|
| stddev|   NULL|2.3094010767585034|      NULL|
|    min|   Abhi|                21|  designer|
|    max|ashitaa|                25|   manager|
+-------+-------+------------------+----------+

In [76]:
###adding columns
df_pyspark=df_pyspark.withColumn('experience After 2 years',df_pyspark['experience']+"you")

In [77]:
df_pyspark.show()

+-------+---+----------+------------------------+
|   Name|Age|experience|experience After 2 years|
+-------+---+----------+------------------------+
|   Abhi| 21|       ias|                    NULL|
|   akhi| 25|   manager|                    NULL|
|ashitaa| 21|  designer|                    NULL|
+-------+---+----------+------------------------+

In [78]:
df_pyspark=df_pyspark.drop('experience After 2 years')

In [79]:
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|experience|
+--------+---+----------+
|    Abhi| 21|       ias|
|    akhi| 25|   manager|
| ashitaa| 21|  designer|
+--------+---+----------+